node_modules
dist
assets/*.pdf
.vite
*.local
.env
.env.local
dev*.log
*.err.log
*.out.log
remotion/public/*.mp4
remotion/node_modules/
remotion/build/
remotion/out/
remotion/studio*.log
remotion/.*/
remotion/skills/
